<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your flight to <%= @booking.flight.arrival_airport.code %> is confirmed!</h3>
    <%= render 'bookings/flight_details', flight: @flight %>
    <h3 class="title is-5"> Passengers </h3>
    <% @booking.passengers.each do |passenger| %>
      <div>
        <%= "#{passenger.first_name} #{passenger.last_name}" %>
      </div>
    <% end %>
  </body>
</html>
