<h1> Trip Summary </h1>

<%= render 'flight_details' %>

<h3> Passengers </h3>

<% @booking.passengers.each do |passenger| %>
  <div>
    <%= "Name: #{passenger.first_name} #{passenger.last_name}" %>
  </div>
<% end %>