<br>
<div class="notification is-success is-light">
  Your flight is booked!
</div>

<div class="container">
  <section class="box">
<h1 class="title is-4"> Trip Summary </h1>

<%= render 'flight_details' %>
<br>
<h3 class="title is-5"> Passengers </h3>

<% @booking.passengers.each do |passenger| %>
  <div>
    <%= "#{passenger.first_name} #{passenger.last_name}" %>
  </div>
<% end %>